<html>
<head>
    <style>
        body {
            font-family:'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
<h3>ESP firmware for DreamcastHDMI/DCHDMI versions</h3>
{% for v in versions %}
    <div><a href="{{ v }}">{{ v }}</a></div>
{% endfor %}
<div>&nbsp;</div>
<div><i>last modified: {{ lm }}</i></div>
</body>
</html>
