<html>
<head>
    <style>
        body {
            font-family:'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
<h3>DreamcastHDMI/DCHDMI firmware versions</h3>
{% for v in versions %}
{% if v == ".old" %}
    <!-- .old -->
{% else %}
    <div><a href="{{ v }}">{{ v }}</a></div>
{% endif %}
{% endfor %}
<div>&nbsp;</div>
<div><i>last modified: {{ lm }}</i></div>
</body>
</html>
