<html>
<head>
    <style>
        body {
            font-family:'Courier New', Courier, monospace;
        }
        .version {
            width:9ch;
            display:inline-block;
        }
        .name {
            width:25ch;
            display:inline-block;
        }
        .size {
            width:9ch;
            display:inline-block;
            text-align:right;
        }
    </style>
</head>
<body>
<h2>xHDMI</h2>
<h3>{{ branch }}</h3>
<div>&nbsp;</div>
<div><strong class="version">Version</strong><strong class="name">File</strong><strong class="size">Filesize</strong></div>
<div>-------------------------------------------</div>
{% for f in binfiles %}
<div><span class="version">{{ f[1] }}</span><span class="name"><a href="{{ f[0] }}">{{ f[0] }}</a></span><span class="size">{{ f[2] }}</span></div>
{% endfor %}
<div>&nbsp;</div>
<div><a href="md5sum.txt">MD5 checksums</a></div>
<div><a href="sha1sum.txt">SHA1 checksums</a></div>
<div>&nbsp;</div>
<div><a href="..">top</a></div>
<div>&nbsp;</div>
<div><i>last modified: {{ lm }}</i></div>
</body>
</html>
