<html>
<head>
    <style>
        body {
            font-family:'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
<h2>xHDMI</h2>
<div>&nbsp;</div>
{% for v in versions %}
{% if v == "experimental" %}
    <div><a href="{{ v }}">{{ v }}</a> (unstable development branch)</div>
{% elif v == "develop" %}
    <div><a href="{{ v }}">{{ v }}</a> (latest release candidate)</div>
{% elif v == "master" %}
    <div><a href="{{ v }}">{{ v }}</a> (latest stable)</div>
{% else %}
    <div><a href="{{ v }}">{{ v }}</a></div>
{% endif %}
{% endfor %}
<div>&nbsp;</div>
<div><i>last modified: {{ lm }}</i></div>
</body>
</html>
